---
layout: default
title: Home
---
<section class="hero">
  <div role="presentation" class="bg-image"></div>
  <div class="hero-body">
    <div class="container has-text-white">
      <h1 class="title is-1 has-text-centered has-text-white">
        Latest Release
      </h1>
      {% assign latest_book = site.books | sort: "published" | reverse | first %}
      <div class="columns">
        <div class="column is-two-fifths has-text-centered">
          <img src="{{ latest_book.cover }}" style="max-height:50vh;width:auto" />
        </div>
        <div class="column">
          <p class="title has-text-white">{{ latest_book.title }}</p>
          <div class="content is-medium has-hero-contrast-background">
            <p>{{ latest_book.blurb }}</p>
          </div>
          {% if latest_book.video_embed %}
          <figure class="image is-16by9">
            {{ latest_book.video_embed }}
          </figure>
          {% endif %}
          <a class="button is-info" href="{{ latest_book.url }}">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section has-site-bg">
  <div class="container">
    {% assign profile = site.pages | where: 'name', 'about.md' | first %}
    <h1 class="title is-1 has-text-centered">
      About the Author
    </h1>
    <div class="columns">
      <div class="column is-three-quarters">
        <article class="content is-medium">
          {{ profile.content | markdownify }}
        </article>
      </div>
      <div class="column">
        <figure class="image mx-auto" style="max-width:210px;">
          <img src="{{ profile.photo | absolute_url }}" class="is-rounded" alt="{{ profile.my_name }}">
        </figure>
      </div>
    </div>
  </div>
</section>
<section class="hero">
  <div role="presentation" class="bg-image"></div>
  <div class="hero-body">
    <div class="container">
      <h1 class="title has-text-centered is-1 has-text-white">
        Explore
      </h1>
      <div class="columns is-multiline is-centered is-mobile ">
        {% assign children = site.books | where: "type", "children" %}
        {% if children.size > 0 %}
        <div class="column is-narrow has-text-centered">
          <a class="button is-large is-danger" href="{% link children.md %}">
            <img src="{% link favicon_children.ico %}" class="is-inline" alt="small gray dog" />
            <span class="ml-1">Children's Books</span>
          </a>
        </div>
        {% endif %}
        {% assign scifi = site.books | where: "type", "science fiction/fantasy" %}
        {% if scifi.size > 0 %}
        <div class="column is-narrow has-text-centered">
          <a class="button is-large is-link" href="{% link science-fiction-fantasy.md %}">
            🚀 Science Fiction/<wbr>Fantasy Books
          </a>
        </div>
        {% endif %}
        {% assign historical = site.books | where: "type", "historical fiction" %}
        {% if historical.size > 0 %}
        <div class="column is-narrow has-text-centered">
          <a class="button is-large is-warning" href="{% link historical-fiction.md %}">
            <img src="{% link assets/biplane.svg %}" class="is-inline" alt="world war 2 biplane" />
            <span class="ml-1">Historical Fiction Books</span>
          </a>
        </div>
        {% endif %}
        {% assign non = site.books | where: "type", "nonfiction" %}
        {% if non.size > 0 %}
        <div class="column is-narrow has-text-centered">
          <a class="button is-large is-success" href="{% link nonfiction.md %}">
            <img src="{% link assets/typewriter.svg %}" class="is-inline" alt="typewriter" />
            <span class="ml-1">Non-Fiction Books</span>
          </a>
        </div>
        {% endif %}
        <div class="column is-narrow has-text-centered">
          <a class="button is-large is-primary" href="{% link blog/index.html %}">
            📢 Blog Updates
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
