{% assign profile = site.pages | where: 'name', 'about.md' | first %}
<footer class="footer">
  <div class="level">
    <div class="level-left">
      <div class="level-item">
        <p>&copy; 2022 {{ profile.my_name }}</p>
      </div>
    </div>
    <div class="level-item">
      <a class="button is-large is-warning outlined-title is-font-bubblegum_sans" href="{% if site.newsletter.size > 0 %}{{ site.newsletter }}{% else %}{% link blog/index.html %}{% endif %}" target="_blank">Get updates</a>
    </div>
    <div class="level-right">
      {% if profile.find_me_on.url.size > 0 %}
      <div class="level-item">
        <a class="button is-normal is-danger" href="{{ profile.find_me_on.url }}" target="_blank">Find me on {{ profile.find_me_on.name }}</a>
      </div>
      {% endif %}
    </div>
  </div>
</footer>