{% assign profile = site.pages | where: 'name', 'about.md' | first %}
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-half mb-2 has-text-centered">
        {% if profile.find_me_on.size > 0 %}
        <h2 class="is-size-6 has-text-weight-bold pb-3">Find me on</h2>
        <div class="columns is-mobile is-multiline is-centered">
          {% for link in profile.find_me_on %}
          {% assign vendor = site.data.vendors.vendors[link.vendor] %}
          <div class="is-narrow m-1">
            <a class="button is-normal is-danger px-2 py-1" href="{{ link.url }}" target="_blank">{{ vendor.name }}</a>
          </div>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="column mb-2 has-text-centered">
        <a class="button is-large is-warning outlined-title is-font-bubblegum_sans" href="{% if site.newsletter.size > 0 %}{{ site.newsletter }}{% else %}{% link blog/index.html %}{% endif %}" target="_blank">Get updates</a>
      </div>
      <div class="column is-narrow">
        <p>&copy; 2022 {{ profile.my_name }}</p>
      </div>
    </div>
  </div>
</footer>