{% assign profile = site.pages | where: 'name', 'about.md' | first %}
<footer class="footer">
  <div class="container">
    <div class="columns">
      <div class="column is-half mb-2 has-text-centered">
        {% if profile.find_me_on.size > 0 %}
        <h2 class="is-size-6 has-text-weight-bold pb-3">Find me on</h2>
        <div class="buttons are-normal is-centered">
          {% for link in profile.find_me_on %}
          {% assign vendor = site.vendors[link.vendor] %}
          <a class="button" href="{{ link.url }}" target="_blank">{{ vendor.name }}</a>
          {% endfor %}
        </div>
        {% endif %}
      </div>
      <div class="column mb-2 has-text-centered">
        <h2 class="is-size-6 has-text-weight-bold pb-3">Sign up for my newsletter</h2>
        <form method="post" action="{% if site.newsletter.size > 0 %}{{ site.newsletter }}{% else %}{% link blog/index.html %}{% endif %}">
          <div class="field has-addons has-addons-centered">
            <div class="control">
              <input class="input" type="text" placeholder="your@email.address">
            </div>
            <div class="control">
              <button class="button is-primary">
                Sign Up
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="is-flex is-justify-content-end">
      <p>&copy; <span id="copyrightYear">2024</span> {{ profile.my_name }}</p>
      <script>(function() {document.getElementById('copyrightYear').innerHTML = (new Date()).getFullYear();})()</script>
    </div>
  </div>
</footer>