<header class="section py-2">
  <nav class="container" role="navigation" aria-label="main navigation">
    <ul class="columns is-vcentered" style="min-height:{{ site.max_logo_height }}px;">
      <li class="column is-half">
        <div class="columns is-vcentered has-text-centered-mobile">
          {% if site.logo %}
          <a href="{{ site.url }}" class="column is-narrow" title="Home">
            <img src="{{ site.logo | absolute_url }}" style="max-height:{{ site.max_logo_height }}px;" alt="{{ site.title }} logo" />
          </a>
          {% endif %}
          <div class="column is-block">
            <p class="is-font-dancingscript has-text-weight-bold is-size-4" style="line-height: 1.5rem;">
              <a href="{{ site.url }}" class="has-text-black" title="Home">
                {{ site.title }}
              </a>
            </p>
            <p class="is-italic is-size-6 mb-4" style="line-height: 1rem;">{{ site.description }}</p>
          </div>
        </div>
      </li>

      <li class="column mb-4 has-text-centered main-menu-item is-danger is-flex is-justify-content-center is-align-items-center">
        <a href="{% link children.md %}" class="outlined-title is-font-bubblegum_sans is-size-5">
          Children's Books
        </a>
      </li>
      <li class="column mb-4 has-text-centered main-menu-item is-info is-flex is-justify-content-center is-align-items-center">
        <a href="{% link young-adult.md %}" class="outlined-title is-font-bubblegum_sans is-size-5">
          Young Adult Books
        </a>
      </li>

      <li class="column mb-4 has-text-centered main-menu-item is-warning is-flex is-justify-content-center is-align-items-center">
        <a href="{% link blog/index.html %}" class="outlined-title is-font-bubblegum_sans is-size-5">
          Blog
        </a>
      </li>
    </ul>
  </nav>
</header>
