<header class="section py-2">
  <nav class="container" role="navigation" aria-label="main navigation">
    <ul class="level">
      <li class="level-left">
        {% if site.logo %}
        <a href="{{ site.url }}" class="level-item" title="Home">
          <img src="{{ site.logo | absolute_url }}" style="max-height:80px;" alt="{{ site.title }} logo" />
        </a>
        {% endif %}
        <div class="level-item is-block has-text-centered-mobile" style="max-width: 350px; margin: auto">
          <p class="has-text-weight-bold is-size-4">
            <a href="{{ site.url }}" class="has-text-black" title="Home">
              {{ site.title }}
            </a>
          </p>
          <p class="is-italic is-size-6 mb-4" style="line-height: 1rem;">{{ site.description }}</p>
        </div>
      </li>

      <li class="level-item has-text-centered">
        <a href="{% link children.html %}" class="button is-rounded is-danger">
          Children's Books
        </a>
      </li>
      <li class="level-item has-text-centered">
        <a href="{% link young-adult.html %}" class="button is-rounded is-info">
          Young Adult Books
        </a>
      </li>

      <li class="level-item has-text-centered">
        <a href="{% link blog.html %}" class="button is-rounded is-link">
          Blog
        </a>
      </li>
    </ul>
  </nav>
</header>
