---
---

@charset "utf-8";

.bg-image {
  position: absolute;
  inset: 0;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /* -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  -o-filter: blur(3px);
  -ms-filter: blur(3px);
  filter: blur(3px); */
  background: url(/images/homepage/northern-california-1591341_1280.jpg) no-repeat center center fixed;
}
.has-hero-contrast-background {
  background: rgba(0,0,0,0.5);
  box-shadow: 0 0 45px 30px rgba(0,0,0,0.5);
}
@media (prefers-color-scheme: dark) {
  .bg-image {
    background: url(/images/homepage/milky-way-4416194_1920.jpg) no-repeat top center fixed;
  }
  .logo-dark-bg-contrast {
    background: radial-gradient(circle, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.1) 75%, transparent 100%);
    // background: rgba(255,255,255,0.15);
    // box-shadow: 0 0 3px 2px rgba(255,255,255,0.15);
  }
}
.door {
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
}
.has-site-bg {
  background-color: var(--bulma-body-background-color);
  color: var(--bulma-body-color);
}
