---
---

@charset "utf-8";
$yellow: hsl(30, 100%, 66%);
/*! bulma.io v0.9.4 | MIT License | github.com/jgthms/bulma */
@import "bulma-0.9.4/utilities/_all";
@import "bulma-0.9.4/base/_all";
@import "bulma-0.9.4/elements/_all";
@import "bulma-0.9.4/form/_all";
@import "bulma-0.9.4/components/_all";
@import "bulma-0.9.4/grid/_all";
@import "bulma-0.9.4/helpers/_all";
@import "bulma-0.9.4/layout/_all";


@font-face {
  font-family: 'dancingscript';
  src: url('{% link /assets/fonts/dancingscript.woff2 %}') format('woff2'),
       url('{% link /assets/fonts/dancingscript.woff %}') format('woff'),
       url('{% link /assets/fonts/dancingscript.ttf %}') format('ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bubblegum_sans';
  src: url('{% link /assets/fonts/bubblegum_sans.woff2 %}') format('woff2'),
       url('{% link /assets/fonts/bubblegum_sans.woff %}') format('woff'),
       url('{% link /assets/fonts/bubblegum_sans.ttf %}') format('ttf'),
       url('{% link /assets/fonts/bubblegum_sans.otf %}') format('otf');
  font-weight: normal;
  font-style: normal;
}

.is-font-dancingscript {
  font-family: 'dancingscript';
}
.is-font-bubblegum_sans {
  font-family: 'bubblegum_sans';
}

.is-circled {
  position: relative;
  overflow: visible;
}
.is-circled>:not(.circle-container) {
  position: relative;
  z-index: 1;
}
.circle-container {
  position: absolute;
  display: block;
  inset: -30px;
  z-index: 0;
}
.circle-image {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.main-menu-item {
  position: relative;
  height: 72px;
}
.main-menu-item a {
  z-index: 1;
}
.main-menu-item:before {
  content: ' ';
  position: absolute;
  display: block;
  width: 72px;
  height: 72px;
  border-radius: 999px;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
.main-menu-item.is-danger:before {
  background-color: $danger;
}
.main-menu-item.is-info:before {
  background-color: $info;
}
.main-menu-item.is-link:before {
  background-color: $link;
}
.main-menu-item.is-warning:before {
  background-color: $warning;
}

.outlined-title {
  color: #fff;
  -webkit-text-stroke: 1px #000;
  text-shadow: 3px 3px 0 #000,
             -1px -1px 0 #000,
              1px -1px 0 #000,
              -1px 1px 0 #000,
               1px 1px 0 #000;
}
a.outlined-title:is(:hover, :focus, :active) {
  color: #ffe08a;
}

.sr-only {
  position:absolute;
  left:-10000px;
  top:auto;
  width:1px;
  height:1px;
  overflow:hidden;
}