---
layout: default
---
<section class="hero is-link is-fullheight-with-navbar">
  <div class="container">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-one-third">
          <figure class="image mb-2">
            <img src="{{ page.cover | absolute_url }}" alt="{{ page.title }} cover" />
          </figure>
          {% if page.length %}
          <p class="mb-2">{{ page.length }} pages long</p>
          {% endif %}
          {% if page.age_range %}
          <p class="mb-2">Intended for age {{ page.age_range }} and up</p>
          {% endif %}
          {% if page.links.size > 0 %}
          {% for link in page.links %}
          <p class="mb-2">
            <a href="{{ link.url }}" class="button {% case link.color %}{% when 'red' %}is-danger{% when 'yellow' %}is-warning{% when 'green' %}is-success{% when 'blue' %}is-info{% when 'teal' %}is-primary{% when 'white' %}is-white{% when 'light gray' %}is-light{% when 'dark gray' %}is-dark{% when 'black' %}is-black{% endcase %}">
              Buy at {{ link.name }}
            </a>
          </p>
          {% endfor %}
          {% endif %}
        </div>
        <div class="column is-two-thirds">
          <section>
            <h1 class="title is-size-1 outlined-title is-font-bubblegum_sans">
              {{ page.title }}
            </h1>
            {% if page.published %}
            <p class="subtitle">
              Published {{ page.published | date_to_string: "ordinal", "US" }}
            </p>
            {% endif %}
            <div class="content">
              <p>{{ page.content }}</p>
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>