---
layout: children_default
---
<section class="hero is-link is-fullheight-with-navbar">
  <div class="container">
    <div class="hero-body">
      <div class="columns">
        <div class="column is-one-quarter">
          <section>
            <h1 class="title is-size-1 outlined-title is-font-bubblegum_sans">
              {{ page.title }}
            </h1>
            <article class="content is-medium">
              {{ page.content | markdownify }}
            </article>
          </section>
        </div>
        <div class="column is-three-quarters">
          <section>
            <h2 class="sr-only">Published Works</h2>
            <div class="columns is-multiline is-mobile">
              {% assign books = site.books | where: "type", page.type %}
              {% for book in books %}
              <div class="column is-half">
                <a href="{{ book.url }}">
                  <article class="card" style="color:white;background-color:#ffffff33;">
                    <div class="card-image">
                      <figure class="image">
                        <img src="{{ book.cover | absolute_url }}" alt="{{ book.title }} cover" />
                      </figure>
                    </div>
                    <div class="card-content has-text-centered">
                      <p class="title">
                        {{ book.title }}
                      </p>
                      {% if book.published %}
                      <p class="subtitle">
                        Published {{ book.published | date_to_string: "ordinal", "US" }}
                      </p>
                      {% endif %}
                      {% if book.blurb %}
                      <div class="content">
                        <p>{{ book.blurb }}</p>
                      </div>
                      {% endif %}
                    </div>
                  </article>
                </a>
              </div>
              {% else %}
              <div class="column is-full">
                <p class="is-size-4">Check back later when I've published some {{ page.title | downcase }} books!</p>
              </div>
              {% endfor %}
            </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>