---
layout: children_default
---
<section class="hero is-link is-fullheight-with-navbar">
  <div class="container">
    <div class="hero-body">
      <section>
        <header>
          <h1 class="title is-size-1 outlined-title is-font-bubblegum_sans">
            {{ page.title }}
          </h1>
          <div class="subtitle">
            {% if page.date %}
            <p>
              Posted {{ page.date | date_to_string: "ordinal", "US" }}
              {% comment %}
              {% if page.categories.size > 0 %}
              in {{ page.categories | join }}
              {% endif %}
              {% endcomment %}
            </p>
            {% endif %}
            {% if page.tags.size > 0 %}
            <div class="tags">
              {% for tag in page.tags %}
              <a href="{% link blog/tagged.html %}?tag={{tag}}" class="tag is-warning has-text-black">{{ tag }}</a>
              {% endfor %}
            </div>
            {% endif %}
          </div>
        </header>
        <article class="section content">
          {% if page.featured_image.size > 0 %}
          <figure class="image">
            <img src="{{ page.featured_image }}" style="max-height:400px;width:auto;" />
          </figure>
          {% endif %}
          {{ page.content | markdownify }}
        </article>
      </section>
    </div>
  </div>
</section>