<!doctype html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  <title>{% if page.title != "Home" %}{{ page.title }} | {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="{{ page.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:image" content="{{ site.logo | absolute_url }}">

  <link rel="apple-touch-icon" href="{{ site.logo | absolute_url }}">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.1/css/bulma.min.css">
  <link rel="stylesheet" href="{{ '/assets/main.css' | absolute_url }}">
</head>

<body>
<header class="container">
  <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a
        class="navbar-item{% if page.title == 'Home' %} has-background-info has-text-black{% endif %} py-0"
        href="{{ site.url }}"
        title="Home"
      >
        <img
          src="{{ site.logo | absolute_url }}"
          style="max-height:{{ site.max_logo_height }}px;"
          class="logo-dark-bg-contrast"
          alt="{{ site.title }} logo"
        />
        <span class="ml-2 has-text-weight-semibold" style="max-width:21ch;">
          {{ site.title }}
        </span>
      </a>
  
      <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNav" onclick="mobileNav(event)">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
  
    <div id="mainNav" class="navbar-menu">
      <div class="navbar-start ml-6">
        <a class="navbar-item{% if page.type == 'children' %} has-background-danger has-text-black{% endif %}" href="/children">
          Children's Books
        </a>
        <a class="navbar-item{% if page.type == 'young adult' %} has-background-link has-text-white{% endif %}" href="/young-adult">
          Young Adult Books
        </a>
        <a class="navbar-item px-6{% if page.type == 'blog' %} has-background-primary has-text-black{% endif %}" href="/blog">
          Blog
        </a>
      </div>
    </div>
  </nav>
</header>
<main class="is-relative">
{{ content }}
</main>
{% include footer.html %}
{% if site.advanced_footer_html %}
{{ site.advanced_footer_html }}
{% endif %}
<script>
function mobileNav(event){
  const target = event.target.nodeName.toLowerCase() !== 'a' ? event.target.closest('a') : event.target;
  target.classList.toggle('is-active');
  document.getElementById(target.dataset.target).classList.toggle('is-active');
}
</script>
</body>
</html>
